@model Herupu.DAO.Entidades.Aluno
@{
    ViewData["Title"] = "Aluno - Apagar";
}


<h4>Você tem certeza que deseja apagar este registro?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeResponsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfResponsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailResponsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneResponsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CelularResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CelularResponsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoEscola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatriculaAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatriculaAluno)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAluno" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
