@model Herupu.DAO.Entidades.Aluno
@{
    ViewData["Title"] = "Aluno - Detalhe";
}

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeResponsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfResponsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailResponsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneResponsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CelularResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CelularResponsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoEscola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatriculaAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatriculaAluno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAluno">Alterar</a> |
    <a asp-action="Index">Voltar</a>
</div>
