@model IEnumerable<Herupu.DAO.Entidades.Aluno>

@{
    ViewData["Title"] = "Aluno - Listar";
}

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeResponsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoEscola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatriculaAluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeResponsavel)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.CodigoEscola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculaAluno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAluno">Alterar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAluno">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAluno">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
